.footer {
    width: 100%;
    height: 60px;
    background-color: #d0ba91;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: rgb(11, 9, 9);
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer p {
    color: rgb(5, 5, 5);
  }