.bg-user-input {
    background-color: #ae9b79 !important;
    border: 1px #000 solid !important;
    outline: none !important;
    height: 40px;
  }
  .bg-user-input:focus {
    outline: none !important;
  }
  