.bg-user-input {
  background-color: #00000000 !important;
  border: 1px #ffffff solid !important;
  outline: none !important;
  height: 40px;
  color: #fff !important
}
.bg-user-input:focus {
  outline: none !important;
}
